mixin footer()
  footer#footer
    #footer-content.page-centered
      .disclaimer
        span(class="iconify", data-icon="uil:exclamation-triangle")
        p
          | Not all lines are supported yet.
          | <a href="/about#available-timetables">Here's a list</a>.
      .disclaimer
        span(class="iconify", data-icon="uil:info-circle")
        p
          | Not affiliated with PTV, Metro Trains Melbourne, or V/Line. Don't
          | rely on the information shown here. For official timetables, visit
          | <a href="https://ptv.vic.gov.au">ptv.vic.gov.au</a>.
