extends page-template/page-template.pug

block head
  +head-content(
    "Home",
    "/css/index.css",
    "/js/index.js",
    "Navigate Melbourne's train network with TrainQuery. Coming soon!")

block body
  .hero
    .brand
      include page-template/favicon.pug
      +favicon(2.5).favicon
      h1 TrainQuery
    p Navigate Melbourne's train network with TrainQuery - Coming soon!
