extends page-template/page-template.pug

include icons.pug

block head
  +head-content(
    "Home",
    "index.css",
    "index.js",
    "Navigate Melbourne's train network with TrainQuery.",
    "")

block body
  .page-centered
    .spacer

    #hero
      .logo
        include page-template/favicon-svg.pug
        +favicon-svg(2.5).favicon
        h1 TrainQuery
      h2 Navigate Melbourne's train network

    #search
      form#main-search-form(autocomplete="off")
        +icon("uil:search")
        input#main-search-input(
          type="search", name="",
          placeholder="Search for a stop, line, or page...")

      //- Tab index 0 here makes focus-within work correctly for iOS Safari (shrug)
      #main-search-results-container(tabindex="0")
        #main-search-results-background
        #main-search-results

    .spacer

    #pinned-departures.loading
      .header
        +icon("majesticons:pin-line")
        h1 Pinned widgets
      #departures
      .loading-content
        include loading-spinner-svg.pug
        +loading-spinner-svg.loading-spinner()
      #pinned-departures-guide
        p
          | Click the pin button next to a widget on a stop's page to show it
          | here.
