extends page-template/page-template.pug

block head
  +head-content(
    "Home",
    "/css/index.css",
    "Navigate Melbourne's train network with TrainQuery. Coming soon!")

block body
  .hero
    .brand
      img(src="/favicon.svg", alt="TrainQuery Icon")
      h1 TrainQuery
    p Navigate Melbourne's train network with TrainQuery - Coming soon!
