extends page-template/page-template.pug

block head
  +head-content(
    "Home",
    "/css/index.css",
    "/js/index.js",
    "Navigate Melbourne's train network with TrainQuery.",
    "https://trainquery.com")

block body
  canvas#hero-bg
  .page-centered
    #hero
      .logo
        include page-template/favicon-svg.pug
        +favicon-svg(2.5).favicon
        h1 TrainQuery
      h2 Navigate Melbourne's train network
    #main-search
      h3 Where are you waiting?
      form#main-search-form(autocomplete="off")
        span.iconify(data-icon="uil:search")
        input#main-search-input(type="search", name="", placeholder="Search for a stop...")
      .divider
      #main-search-results
