extends page-template/page-template.pug

include icons.pug

block head
  +head-content(
    "Licences and attribution",
    "legal.css",
    null,
    null,
    null)

block body
  .page-centered
    h1 Licences and attribution
    p
      | TrainQuery, it's related components, and first party packages are
      | released under the MIT Licence.
    p.license
      | MIT License<br/><br/>
      | Copyright (c) 2022 Dan Schellekens<br/><br/>
      | Permission is hereby granted, free of charge, to any person obtaining a
      | copy of this software and associated documentation files (the
      | "Software"), to deal in the Software without restriction, including
      | without limitation the rights to use, copy, modify, merge, publish,
      | distribute, sublicense, and/or sell copies of the Software, and to
      | permit persons to whom the Software is furnished to do so, subject to
      | the following conditions:<br/><br/>
      | The above copyright notice and this permission notice shall be included
      | in all copies or substantial portions of the Software.<br/><br/>
      | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
      | OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
      | MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
      | IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
      | CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
      | TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
      | SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    h2 Third-party packages
    p
      | TrainQuery also distributes components of a number of third party
      | packages under their own licences.
    h3 <a href="https://github.com/dankogai/js-base64" class="link">base64.js</a>
    p.license
      | Copyright (c) 2014, Dan Kogai All rights reserved.<br/><br/>
      | Redistribution and use in source and binary forms, with or without
      | modification, are permitted provided that the following conditions are
      | met:<br/><br/>
      | Redistributions of source code must retain the above copyright notice,
      | this list of conditions and the following disclaimer.<br/><br/>
      | Redistributions in binary form must reproduce the above copyright
      | notice, this list of conditions and the following disclaimer in the
      | documentation and/or other materials provided with the distribution.
      | <br/><br/>
      | Neither the name of {{{project}}} nor the names of its contributors may
      | be used to endorse or promote products derived from this software
      | without specific prior written permission.<br/><br/>
      | THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
      | IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
      | TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
      | PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
      | HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
      | SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
      | TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
      | PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
      | LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
      | NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
      | SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    h3 <a href="https://iconify.design/" class="link">Iconify</a>
    p.license
      | MIT License<br/><br/>
      | Copyright (c) 2021 - 2022 Vjacheslav Trushkin / Iconify OÜ<br/><br/>
      | Permission is hereby granted, free of charge, to any person obtaining a
      | copy of this software and associated documentation files (the
      | "Software"), to deal in the Software without restriction, including
      | without limitation the rights to use, copy, modify, merge, publish,
      | distribute, sublicense, and/or sell copies of the Software, and to
      | permit persons to whom the Software is furnished to do so, subject to
      | the following conditions:<br/><br/>
      | The above copyright notice and this permission notice shall be included
      | in all copies or substantial portions of the Software.<br/><br/>
      | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
      | OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
      | MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
      | IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
      | CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
      | TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
      | SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    h3 <a href="https://moment.github.io/luxon/" class="link">Luxon</a>
    p.license
      | Copyright 2019 JS Foundation and other contributors<br/><br/>
      | Permission is hereby granted, free of charge, to any person obtaining a
      | copy of this software and associated documentation files (the
      | "Software"), to deal in the Software without restriction, including
      | without limitation the rights to use, copy, modify, merge, publish,
      | distribute, sublicense, and/or sell copies of the Software, and to
      | permit persons to whom the Software is furnished to do so, subject to
      | the following conditions:<br/><br/>
      | The above copyright notice and this permission notice shall be included
      | in all copies or substantial portions of the Software.<br/><br/>
      | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
      | OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
      | MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
      | IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
      | CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
      | TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
      | SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    h3 <a href="https://iconscout.com/unicons" class="link">Unicons</a>
    p.license
      | IconScout Simple License<br/><br/>
      | Copyright © 2022 Design Barn Inc.<br/><br/>
      | Permission is hereby granted, free of charge, to any person obtaining a
      | copy of the asset files available for download at the IconScout site
      | (“Files”). To download, modify, and use digitally such Files, for
      | commercial purposes, provided that any display, publication, or
      | performance of Files must contain (and be subject to) the same terms and
      | conditions of this license. Modifications to Files are deemed derivative
      | works and can be used for commercial as well as personal projects but
      | are not allowed to resell or republish( as a separate entity under any
      | other profile) to any platform. You may not purport to impose any
      | additional or different terms or conditions on or apply any technical
      | measures that restrict the exercise of, the rights granted under this
      | license.<br/><br/>
      | This license does not include the right to collect or compile Files from
      | IconScout to replicate or develop a similar or competing service.
      | <br/><br/>
      | Use of Files in your product or project without attributing the
      | creator(s) of the Files is permitted under this license, though
      | attribution is strongly encouraged. If attributions are included, such
      | attributions should be visible to the end-user. However, Any assets
      | uploaded or published by you of which you are **not the original
      | designer** but you have edited in some way must have the original
      | creator attributed and a link provided to the original animation in the
      | description. If you fail to do this, the upload falls under the category
      | of plagiarised content can be reported and may be removed from
      | IconScout.<br/><br/>
      | FILES ARE PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      | IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      | FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. EXCEPT TO THE
      | EXTENT REQUIRED BY APPLICABLE LAW, IN NO EVENT WILL THE CREATOR(S) OF
      | FILES OR DESIGN BARN, INC. BE LIABLE ON ANY LEGAL THEORY FOR ANY
      | SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE, OR EXEMPLARY DAMAGES
      | ARISING OUT OF THIS LICENSE OR THE USE OF SUCH FILES.<br/>`
    h3 <a href="https://github.com/uuidjs/uuid" class="link">uuid</a>
    p.license
      | The MIT License (MIT)<br/><br/>
      | Copyright (c) 2010-2020 Robert Kieffer and other contributors<br/><br/>
      | Permission is hereby granted, free of charge, to any person obtaining a
      | copy of this software and associated documentation files (the
      | "Software"), to deal in the Software without restriction, including
      | without limitation the rights to use, copy, modify, merge, publish,
      | distribute, sublicense, and/or sell copies of the Software, and to
      | permit persons to whom the Software is furnished to do so, subject to
      | the following conditions:<br/><br/>
      | The above copyright notice and this permission notice shall be included
      | in all copies or substantial portions of the Software.<br/><br/>
      | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
      | OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
      | MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
      | IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
      | CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
      | TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
      | SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    h3 <a href="https://zod.dev/" class="link">Zod</a>
    p.license
      | MIT License<br/><br/>
      | Copyright (c) 2020 Colin McDonnell<br/><br/>
      | Permission is hereby granted, free of charge, to any person obtaining a
      | copy of this software and associated documentation files (the
      | "Software"), to deal in the Software without restriction, including
      | without limitation the rights to use, copy, modify, merge, publish,
      | distribute, sublicense, and/or sell copies of the Software, and to
      | permit persons to whom the Software is furnished to do so, subject to
      | the following conditions:<br/><br/>
      | The above copyright notice and this permission notice shall be included
      | in all copies or substantial portions of the Software.<br/><br/>
      | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
      | OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
      | MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
      | IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
      | CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
      | TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
      | SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
