mixin loading-spinner-svg(size)
  svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="1", height="1", role="img")&attributes(attributes)
    title Loading spinner
    circle(cx="8", cy="8", r="2", fill="currentColor")
    circle(cx="16", cy="8", r="2", fill="currentColor")
    circle(cx="16", cy="16", r="2", fill="currentColor")
    circle(cx="8", cy="16", r="2", fill="currentColor")
