extends page-template/page-template.pug

block head
  +head-content(
    "Settings",
    "/css/settings.css",
    null,
    null,
    null)

block body
  .page-centered
    h1 Settings
    p Stay tuned for a light/dark theme toggle right about here.
