extends page-template/page-template.pug

block head
  +head-content(
    "Home",
    "/css/stop.css",
    null,
    "Navigate Melbourne's train network with TrainQuery.")

block body
  .page-centered
    h1 Stop
