extends page-template/page-template.pug

include iconify.pug

block head
  +head-content(
    "Train",
    "train.css",
    "train.js",
    null,
    null)

block body
  .page-centered
    a#back-button(href="javascript:history.back();")
      +iconify("uil:angle-left-b")
      p Back
    #loading
      include loading-spinner-svg.pug
      +loading-spinner-svg.loading-spinner()
    #error.gone
      +iconify("uil:exclamation-triangle")
      p Something went wrong
    #not-found.gone
      +iconify("uil:subway")
      p Train not found
    #train.gone
      h1#train-title
      h2#train-subtitle
      a#line-link
        p#line
      #stopping-pattern
      #continuation
        p#continuation-warning
          | (Anything shown beyond this point is pure guesstimation)
        p#continuation-declaration
        h1#continuation-title
        h2#continuation-subtitle
        a#continuation-line-link
          p#continuation-line
        #continuation-stopping-pattern
