@mixin favicon() {
  .favicon-top {
    fill: #00a5ca;
  }
  .favicon-bottom {
    fill: #a236e3;
  }
  .favicon-outer {
    fill: var(--clr-ink-100);
  }
  .favicon-inner {
    fill: var(--clr-on-accent);
  }
}
@mixin favicon-monochrome() {
  path {
    fill: var(--clr-ink-80);
  }
  .favicon-accent {
    fill: var(--clr-accent);
  }
}
