@mixin favicon-svg() {
  .favicon-top {
    fill: #00a5ca;
  }
  .favicon-bottom {
    fill: #a236e3;
  }
  .favicon-outer {
    fill: var(--color-ink-100);
  }
  .favicon-inner {
    fill: var(--color-on-accent);
  }
}
