@use "../css-template/import" as template;
@use "navbar";
@use "footer";

@include template.init(
  $custom-colors: (
    "accent-red": (
      "light": #dc0f0f,
      "dark": #ff5252,
    ),
    "accent-yellow": (
      "light": #d19700,
      "dark": #ffc122,
    ),
    "accent-green": (
      "light": #1bae0e,
      "dark": #32cf25,
    ),
    "accent-cyan": (
      "light": #00a5ca,
      "dark": #19d6ff,
    ),
    "accent-blue": (
      "light": #3453c2,
      "dark": #8aa4ff,
    ),
    "accent-purple": (
      "light": #a236e3,
      "dark": #cd7bff,
    ),
    "accent-pink": (
      "light": #d73aab,
      "dark": #ff60d2,
    ),
    "accent-grey": (
      "light": #666666,
      "dark": #999999,
    ),
    "error": (
      "light": #dc0f0f,
      "dark": #ff5252,
    ),
  )
);

:root {
  --font-default: "Poppins", sans-serif;
  --font-size-default: 0.9rem;
  --min-page-width: 20rem;
  --page-width: 64rem;
  --color-light-accent: #00a5ca;
  --color-dark-accent: #19d6ff;
}

html,
body {
  height: 100%;
}
body {
  overflow-y: scroll;
}

.flex-grow {
  @include template.flex-grow;
}
.one-line {
  @include template.one-line;
}
.gone {
  @include template.gone;
}

main {
  @include template.flex-grow;
  margin-top: 3rem;
}

:root.light {
  @include template.theme-light;
}
:root.dark {
  @include template.theme-dark;
}

#skip-to-content {
  // Navbar is 9999 ;)
  z-index: 10000;

  position: fixed;
  left: 1rem;
  top: -4rem;
  transition: top 0.1s;

  background-color: var(--color-paper-30);
  box-shadow: 0px 2px 4px var(--color-shadow-10);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;

  &:active,
  &:focus,
  &:hover {
    top: 0.5rem;
  }
}
