@use "../css-template/import" as template;
@use "favicon";
@use "navbar";

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/poppins-400.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/poppins-500.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/poppins-700.woff2") format("woff2");
}

:root {
  --font-default: "Poppins", sans-serif;
  --font-size-default: 0.9rem;
  --min-page-width: 20rem;
  --page-width: 64rem;
  --clr-light-accent: #00a5ca;
  --clr-dark-accent: #19d6ff;
}

html,
body {
  height: 100%;
}

.flex-grow {
  @include template.flex-grow;
}
.gone {
  @include template.gone;
}
