@use "../css-template/import" as template;

@mixin results {
  .message {
    margin: 2rem 1rem;
  }
  .result {
    @include template.button-hover;
    --button-rounding: 0;

    @include template.row;
    padding: 0.75rem 1rem;

    .icon {
      margin-right: 0.75rem;
      font-size: 1.2rem;
    }
    .column {
      justify-content: center;

      flex-shrink: 1;
      min-width: 0;
    }
    .title {
      color: var(--color-ink-100);
      font-weight: bold;
    }
    .subtitle {
      color: var(--color-ink-80);
      font-size: 0.75rem;
      margin-top: 0.5rem;
    }
  }
}
