.odometer {
  position: relative;
  & > .odometer-in {
    animation: odometer-in 0.15s ease-out forwards;
  }
  & > .odometer-out {
    position: absolute;
    animation: odometer-out 0.05s ease-out forwards;
    overflow: visible;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@keyframes odometer-in {
  from {
    opacity: 0%;
    transform: translate(0, -0.3rem);
  }
  to {
    opacity: 100%;
    transform: translate(0, 0rem);
  }
}
@keyframes odometer-out {
  from {
    opacity: 100%;
    transform: translate(0, 0rem);
  }
  to {
    opacity: 0%;
    transform: translate(0, 0.1rem);
  }
}
