$clr-custom-names: (
  "accent-red",
  "accent-yellow",
  "accent-green",
  "accent-cyan",
  "accent-blue",
  "accent-purple",
  "accent-pink",
  "accent-grey"
);
$clr-custom-light: (
  "accent-red": #dc0f0f,
  "accent-yellow": #d19700,
  "accent-green": #1bae0e,
  "accent-cyan": #00a5ca,
  "accent-blue": #3453c2,
  "accent-purple": #a236e3,
  "accent-pink": #d73aab,
  "accent-grey": #666666,
);
$clr-custom-dark: (
  "accent-red": #ff5252,
  "accent-yellow": #ffc122,
  "accent-green": #32cf25,
  "accent-cyan": #19d6ff,
  "accent-blue": #8aa4ff,
  "accent-purple": #cd7bff,
  "accent-pink": #ff60d2,
  "accent-grey": #999999,
);
