@use "css-template/import" as template;

@mixin picker-group($button-class) {
  @include template.row;
  @include template.no-select;

  & > label {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    flex-grow: 1;
    cursor: pointer;

    & > input[type="radio"] {
      display: none;
    }
    input[type="radio"] + .#{$button-class} {
      border: 2px solid var(--clr-accent);
      align-items: center;
      justify-content: center;
      transition: background-color 0.1s;
      p {
        transition: color 0.1s;
      }
    }
    input[type="radio"]:hover + .#{$button-class},
    input[type="radio"]:focus-visible + .#{$button-class} {
      background-color: var(--clr-ink-10);
    }
    input[type="radio"]:active + .#{$button-class} {
      background-color: var(--clr-ink-20);
    }
    input[type="radio"]:checked + .#{$button-class} {
      background-color: var(--clr-accent);
      p {
        color: var(--clr-on-accent);
      }
    }
  }
  & > label:first-child input[type="radio"] + .#{$button-class} {
    border-top-left-radius: var(--btn-rounding);
    border-bottom-left-radius: var(--btn-rounding);
  }
  & > label:last-child input[type="radio"] + .#{$button-class} {
    border-top-right-radius: var(--btn-rounding);
    border-bottom-right-radius: var(--btn-rounding);
  }
  & > label:not(:last-child) input[type="radio"] + .#{$button-class} {
    border-right: none;
  }
}

@mixin picker-group-subtle($button-class) {
  @include template.no-select;

  & > label {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    flex-grow: 1;
    cursor: pointer;

    & > input[type="radio"] {
      display: none;
    }
    input[type="radio"] + .#{$button-class} {
      align-items: center;
      justify-content: center;
      p {
        color: var(--clr-ink-50);
        transition: color 0.1s;
      }
    }
    input[type="radio"]:hover + .#{$button-class},
    input[type="radio"]:focus-visible + .#{$button-class} {
      p {
        color: var(--clr-ink-80);
      }
    }
    input[type="radio"]:active + .#{$button-class} {
      p {
        color: var(--clr-ink-100);
      }
    }
    input[type="radio"]:checked + .#{$button-class} {
      p {
        color: var(--clr-accent);
        font-weight: bold;
      }
    }
  }
}
