@use "css-template/import" as template;

@mixin picker-group-subtle($button-class) {
  @include template.no-select;

  & > label {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    flex-grow: 1;
    cursor: pointer;

    & > input[type="radio"] {
      position: fixed;
      opacity: 0;
      pointer-events: none;
    }
    input[type="radio"] + .#{$button-class} {
      align-items: center;
      justify-content: center;
      p {
        color: var(--color-ink-50);
        transition: color 0.1s;
      }
    }
    input[type="radio"]:hover + .#{$button-class},
    input[type="radio"]:focus-visible + .#{$button-class} {
      p {
        color: var(--color-ink-80);
      }
    }
    input[type="radio"]:active + .#{$button-class} {
      p {
        color: var(--color-ink-100);
      }
    }
    input[type="radio"]:checked + .#{$button-class} {
      p {
        color: var(--color-accent);
        font-weight: bold;
      }
    }
  }
}
