@use "css-template/import" as template;

@mixin switch($graphic-class) {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  flex-grow: 1;
  cursor: pointer;

  & > input[type="checkbox"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
  input[type="checkbox"] + div {
    @include template.row;
    @include template.no-select;

    & > .#{$graphic-class} {
      position: relative;
      width: 2rem;
      height: 1.2rem;
      border-radius: 1rem;
      border: 0.1rem solid var(--color-ink-50);
      transition: border-color 0.1s, background-color 0.1s;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0.6rem;
        height: 0.6rem;
        top: 0.2rem;
        left: 0.2rem;
        background-color: var(--color-ink-50);
        border-radius: 1rem;
        transition: transform 0.2s, background-color 0.1s, opacity 0.1s;
      }
    }
  }
  input[type="checkbox"]:checked + div {
    & > .#{$graphic-class} {
      background-color: var(--color-accent);
      border-color: var(--color-accent);

      &::before {
        transform: translate(0.75rem, 0rem);
        background-color: var(--color-on-accent);
      }
    }
  }
  input[type="checkbox"]:not(:checked):hover + div,
  input[type="checkbox"]:not(:checked):focus-visible + div {
    & > .#{$graphic-class}::before {
      transform: scale(133%, 133%);
    }
  }
  input[type="checkbox"]:checked:hover + div,
  input[type="checkbox"]:checked:focus-visible + div {
    & > .#{$graphic-class}::before {
      transform: translate(0.75rem, 0rem) scale(133%, 133%);
    }
  }
  input[type="checkbox"]:not(:checked):active + div {
    & > .#{$graphic-class} {
      background-color: var(--color-ink-10);
    }
  }
  input[type="checkbox"]:checked:active + div {
    & > .#{$graphic-class}::before {
      opacity: 80%;
    }
  }
}
