@use "css-template/import" as template;
@use "common" as common;
@use "loading-spinner" as loading-spinner;

main {
  @include template.page-centerer("page-centered");
  .page-centered {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    > h1 {
      @include common.page-header;
      margin-bottom: 1rem;
    }
    > p:not(:last-child) {
      margin-bottom: 1rem;
    }
    > h2 {
      font-weight: bold;
      font-size: 1.2rem;
      color: var(--color-ink-100);
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    > ul {
      margin-bottom: 0.5rem;
      > li {
        margin-bottom: 0.5rem;
        margin-left: 1rem;
      }
    }
    #nope {
      font-weight: bold;
      color: var(--color-error);
    }
    .link {
      @include template.link;
    }
    .loading-spinner {
      @include loading-spinner.loading-spinner;
      color: var(--color-ink-30);
      width: 2rem;
      height: 2rem;
      margin: auto;
    }
    #timetables-list {
      .line-name {
        font-weight: bold;
        color: var(--color-ink-100);
      }
      .separator-dot {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
      }
    }
    #timetables-loading,
    #timetables-error {
      padding: 2rem;
      margin-bottom: 0.75rem;
    }
    #timetables-error {
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      .iconify {
        font-size: 1.5rem;
        color: var(--color-error);
      }
      p {
        color: var(--color-error);
      }
    }
  }
}
