@use "css-template/import" as template;
@use "page-template/favicon-svg" as favicon-svg;
@use "page-template/search-ui" as search-ui;
@use "departures" as departures;
@use "common" as common;
@use "loading-spinner" as loading-spinner;

main {
  @include template.page-centerer("page-centered");
  position: relative;

  .page-centered {
    flex-grow: 1;
  }

  #hero {
    z-index: 1;

    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    .logo {
      @include template.row();
      margin-bottom: 1rem;

      h1 {
        color: var(--color-ink-100);
        font-size: 2rem;
        font-weight: bold;
      }

      .favicon {
        @include favicon-svg.favicon-svg();
        margin-right: 0.75rem;
      }
    }

    h2 {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  #search {
    width: min(calc(100% - 2rem), 36rem);
    align-self: center;
    position: relative;
    z-index: 99;

    #main-search-form {
      @include common.raised-surface;
      border-radius: 0.75rem;
      position: relative;
      z-index: 1;

      .iconify {
        font-size: 1.2rem;
        color: var(--color-ink-50);
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }

    #main-search-input {
      padding: 0rem 1rem;
      padding-left: 3rem;
      font-size: 1.2rem;
      height: 3.5rem;
    }

    #main-search-results-container {
      @include common.dropdown-animation($open-class: "open");
      @include search-ui.results;
      position: absolute;
      top: 4rem;
      left: 0;
      right: 0;
      z-index: 0;
    }

    #main-search-results-background {
      @include common.dropdown-background;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      border-radius: 0.75rem;
    }

    #main-search-results {
      max-height: 20rem;
      overflow-x: hidden;
      overflow-y: scroll;
      border-radius: 0.75rem;
      z-index: 1;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  #pinned-departures {
    margin-left: 1rem;
    margin-right: 1rem;

    .header {
      @include template.row;
      justify-content: center;
      gap: 0.5rem;
      margin-bottom: 1rem;

      > .iconify {
        font-size: 1.2rem;
      }
      > h1 {
        color: var(--color-ink-100);
        font-weight: bold;
      }
    }
    #departures {
      @include departures.departures;
    }
    #pinned-departures-guide {
      p {
        text-align: center;
      }
    }
    &:not(.empty) #pinned-departures-guide {
      @include template.gone;
    }
    &.empty,
    &.loading {
      flex-grow: 1;
    }
    &:not(.loading) .loading-content {
      @include template.gone;
    }
    .loading-content svg {
      @include loading-spinner.loading-spinner;
      color: var(--color-ink-30);
      width: 2rem;
      height: 2rem;
      margin: auto;
    }
  }

  .spacer {
    min-height: 5rem;
    flex-grow: 1;
  }
}
