@use "css-template/import" as template;
@use "page-template/page-template";
@use "page-template/favicon" as favicon;

main {
  flex-grow: 1;
  .hero {
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .brand {
    @include template.row();
    margin-bottom: 1rem;
  }

  .favicon {
    @include favicon.favicon();
    margin-right: 0.75rem;
  }

  h1 {
    color: var(--clr-ink-100);
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
