@use "css-template/import" as template;
@use "page-template/favicon-svg" as favicon-svg;
@use "page-template/search-ui" as search-ui;
@use "stop-departures" as stop-departures;

$vertical-gap: max(4rem, 12vh);

main {
  @include template.page-centerer("page-centered");
  position: relative;

  @include stop-departures.stop-departures;

  .pinned-departures .header {
    @include template.row;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;

    .iconify {
      font-size: 1.2rem;
    }
    h1 {
      color: var(--clr-ink-100);
      font-weight: bold;
    }
  }

  #hero-bg {
    position: absolute;
    background-color: var(--clr-paper-10);
    height: 100%;
    width: 100%;
    color: var(--clr-ink-10);
  }

  #hero {
    // Position above canvas animation.
    z-index: 1;

    align-items: center;
    justify-content: center;
    margin: $vertical-gap 1rem;

    .logo {
      @include template.row();
      margin-bottom: 1rem;

      h1 {
        color: var(--clr-ink-100);
        font-size: 2rem;
        font-weight: bold;
      }

      .favicon {
        @include favicon-svg.favicon-svg();
        margin-right: 0.75rem;
      }
    }

    h2,
    h3 {
      text-align: center;
    }

    h2 {
      font-size: 1.2rem;
    }
  }

  #main-search {
    z-index: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: $vertical-gap;
    border-radius: 0.5rem;
    background-color: var(--clr-paper-20);
    box-shadow: 0px 2px 4px var(--clr-shadow-10);
    width: min(calc(100vw - 2rem), 36rem);
    align-self: center;
    overflow: hidden;

    h3 {
      font-weight: bold;
      color: var(--clr-ink-100);
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    #main-search-form {
      position: relative;
      .iconify {
        font-size: 1.2rem;
        color: var(--clr-ink-50);
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    #main-search-input {
      padding: 1rem 1rem;
      padding-left: 3rem;
      font-size: 1.2rem;
    }

    .divider {
      margin-left: 1rem;
      margin-right: 1rem;
      height: 1px;
      border-top: 1px solid var(--clr-ink-10);
    }

    #main-search-results {
      @include search-ui.results;
      max-height: 20rem;
      overflow-y: scroll;
    }
  }
}

@media screen and (min-width: 30rem) {
  main #departures {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
