@use "css-template/import" as template;
@use "loading-spinner" as loading-spinner;
@use "common" as common;
@use "line-diagram" as line-diagram;

main {
  @include template.page-centerer("page-centered");
  .page-centered {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-grow: 1;

    > h1 {
      @include common.page-header;
      margin-bottom: 0.5rem;
    }
    > p:not(:last-child) {
      margin-bottom: 1rem;
    }
    > h2 {
      font-weight: bold;
      font-size: 1.2rem;
      color: var(--color-ink-100);
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    #line-diagram-container-loading {
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      .loading-spinner {
        @include loading-spinner.loading-spinner;
        color: var(--color-ink-30);
        width: 2rem;
        height: 2rem;
        margin: auto;
      }
    }

    .line-diagram {
      @include line-diagram.line-diagram(
        $gap: 1rem,
        $notch-y: 0.45rem,
        $content-class: "stop-details"
      );
      .stop-details {
        @include template.row;
        gap: 0.5rem;
      }
      .stop-details:hover .stop-name,
      .stop-details:focus-visible .stop-name {
        text-decoration-color: var(--color-ink-100);
      }
      .stop-name {
        font-weight: bold;
        color: var(--color-ink-100);
        transition: text-decoration-color 0.05s;
        text-decoration: underline;
        text-decoration-color: transparent;
      }
      .zones {
        color: var(--color-ink-60);
        font-size: 0.7rem;
        border-radius: 1rem;
        border: 1px solid var(--color-ink-60);
        padding: 0.2rem 0.4rem;
      }
      .change-message {
        font-size: 0.75rem;
      }
    }
  }
}
