@use "css-template/import" as template;
@use "common" as common;
@use "line-diagram" as line-diagram;

main {
  @include template.page-centerer("page-centered");
  .page-centered {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    > h1 {
      @include common.page-header;
      margin-bottom: 0.5rem;
    }
    > p:not(:last-child) {
      margin-bottom: 1rem;
    }
    > h2 {
      font-weight: bold;
      font-size: 1.2rem;
      color: var(--color-ink-100);
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    .line-diagram {
      @include line-diagram.line-diagram($stop-notch-y: 1.15rem);
      .dummy-stop {
        padding: 0.75rem 1rem;
        gap: 0.4rem;
      }
      .dummy-stop-name {
        font-weight: bold;
        color: var(--color-ink-100);
      }
      .dummy-change-message {
        font-size: 0.75rem;
      }
    }
  }
}
