@use "css-template/import" as template;
@use "common" as common;
@use "stop-departures" as stop-departures;
@use "stop-controls" as stop-controls;

main {
  @include template.page-centerer("page-centered");
  @include stop-departures.stop-departures;
  @include stop-controls.stop-controls;

  .page-centered {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    > h1 {
      @include common.page-header;
      margin-bottom: 0.75rem;
    }
  }
  .lines {
    @include template.row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.25rem;
    .line {
      @include common.line-pill($clickable: true);
    }
  }
}
@media screen and (min-width: 30rem) {
  main #departures {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
