@use "css-template/import" as template;
@use "common" as common;
@use "departures" as departures;
@use "stop-controls" as stop-controls;
@use "line-colors" as line-colors;

main {
  @include template.page-centerer("page-centered");
  @include line-colors.accent-classes;
  @include stop-controls.stop-controls;

  #departures {
    @include departures.departures;
  }

  .page-centered {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    > .title-row {
      @include template.row;
      gap: 0.5rem;
      margin-bottom: 0.75rem;

      .one-line {
        flex-shrink: 1;
        min-width: 0;
      }
      h1 {
        @include common.page-header;
      }
      .zones {
        @include common.line-pill($clickable: false);
        --color-accent: var(--color-ink-60);
      }
    }
  }
  .lines {
    @include template.row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.25rem;
    .line {
      @include common.line-pill($clickable: true);
    }
  }
}
