@use "css-template/import" as template;
@use "loading-spinner" as loading-spinner;
@use "line-colors" as line-colors;
@use "common" as common;
@use "line-diagram" as line-diagram;

main {
  @include template.page-centerer("page-centered");
  @include line-colors.accent-classes;
  .page-centered {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-grow: 1;
  }
  #back-button {
    @include common.button-icon-text;
  }
  .loading-spinner {
    @include loading-spinner.loading-spinner;
    color: var(--color-ink-30);
    width: 2rem;
    height: 2rem;
    margin: auto;
  }
  #loading,
  #error,
  #not-found {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .icon {
      font-size: 1.5rem;
    }
  }
  #error {
    .icon {
      color: var(--color-error);
    }
    p {
      color: var(--color-error);
    }
  }
  #train {
    margin-top: 1.5rem;
    h1 {
      @include common.page-header;
      margin-bottom: 0.5rem;
    }
    h2 {
      margin-bottom: 1rem;
    }
    #line-link,
    #continuation-line-link {
      @include common.line-pill($clickable: true);
      align-self: start;
      margin-bottom: 1.25rem;
    }
    #continuation-warning {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 0.75rem;
    }
    #continuation-declaration {
      color: var(--color-ink-100);
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    #continuation-title {
      @include common.page-header;
    }
    #stopping-pattern,
    #continuation-stopping-pattern {
      .line-diagram {
        @include line-diagram.line-diagram(
          $gap: 1rem,
          $notch-y: 0.55rem,
          $content-class: "stop-details"
        );
        .stop-details {
          @include template.row;
          gap: 0.3rem;
          height: calc(1.1rem + 1rem);
          align-self: flex-start;

          &:hover .stop-name,
          &:focus-visible .stop-name {
            text-decoration-color: currentColor;
          }
          .one-line {
            flex-shrink: 1;
            min-width: 0;
          }
          .stop-name {
            transition: text-decoration-color 0.05s;
            text-decoration: underline;
            text-decoration-color: transparent;
          }
          &:not(.express) .stop-name {
            color: var(--color-ink-100);
            font-weight: bold;
          }
          &.express .stop-name {
            color: var(--color-ink-60);
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
